/*  your css code here. If applicable */
body{
background-color:#f5f5f5;	
}
h1{
	background-color:#011e29;
	color:white;
	text-align:center;
	height:80px;
	}
.grid{
	display:inline-block;
	background-color:white;
	border-radius:30px;
	column-gap:10px;

}
img{
	width:70px
}